apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readFile"
	full_name: "fs.readFile"
	base_type: "fs"
	id: 1
	functionality: SOURCE 		
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readFileSync"
	full_name: "fs.readFileSync"
	base_type: "fs"
	id: 2
	functionality: SOURCE	
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getPrivateKey"
	full_name: "ecdh.getPrivateKey"
	base_type: "ecdh"
	id: 3
	functionality: SOURCE
	source_type: SOURCE_ACCOUNT
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getPrivateKey"
	full_name: "diffieHellman.getPrivateKey"
	base_type: "diffieHellman"
	id: 4
	functionality: SOURCE
	source_type: SOURCE_ACCOUNT
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "read"
	full_name: "fs.read"
	base_type: "fs"
	id: 5
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readdir"
	full_name: "fs.readdir"
	base_type: "fs"
	id: 6
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readdirSync"
	full_name: "fs.readdirSync"
	base_type: "fs"
	id: 7
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readSync"
	full_name: "fs.readSync"
	base_type: "fs"
	id: 8
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "read"
	full_name: "filehandle.read"
	base_type: "filehandle"
	id: 9
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readFile"
	full_name: "filehandle.readFile"
	base_type: "filehandle"
	id: 10
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readdir"
	full_name: "fsPromises.readdir"
	base_type: "fsPromises"
	id: 11
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readFile"
	full_name: "fsPromises.readFile"
	base_type: "fsPromises"
	id: 12
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "createReadStream"
	full_name: "fs.createReadStream"
	base_type: "fs"
	id: 13
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getTicketKeys"
	full_name: "server.getTicketKeys"
	base_type: "server"
	id: 14
	functionality: SOURCE
	source_type: SOURCE_ACCOUNT
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request"
	full_name: "https.request"
	base_type: "https"
	id: 15
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "get"
	full_name: "https.get"
	base_type: "https"
	id: 16
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request"
	full_name: "http.request"
	base_type: "http"
	id: 17
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "evaluate"
	full_name: "module.evaluate"
	base_type: "module"
	id: 18
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "eval"
	id: 19
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "instantiate"
	full_name: "WebAssembly.instantiate"
	base_type: "WebAssembly"
	id: 20
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "instantiateStreaming"
	full_name: "WebAssembly.instantiateStreaming"
	base_type: "WebAssembly"
	id: 21
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "compile"
	full_name: "WebAssembly.compile"
	base_type: "WebAssembly"
	id: 22
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "compileStreaming"
	full_name: "WebAssembly.compileStreaming"
	base_type: "WebAssembly"
	id: 23
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fork"
	full_name: "cluster.fork"
	base_type: "cluster"
	id: 24
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInContext"
	full_name: "script.runInContext"
	base_type: "script"
	id: 25
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInNewContext"
	full_name: "script.runInNewContext"
	base_type: "script"
	id: 26
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInThisContext"
	full_name: "script.runInThisContext"
	base_type: "script"
	id: 27
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInContext"
	full_name: "vm.runInContext"
	base_type: "vm"
	id: 28
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInNewContext"
	full_name: "vm.runInNewContext"
	base_type: "vm"
	id: 29
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInThisContext"
	full_name: "vm.runInThisContext"
	base_type: "vm"
	id: 30
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "copyFile"
	full_name: "fs.copyFile"
	base_type: "fs"
	id: 31
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "copyFileSync"
	full_name: "fs.copyFileSync"
	base_type: "fs"
	id: 32
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "child_process.exec"
	base_type: "child_process"
	id: 33
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execFile"
	full_name: "child_process.execFile"
	base_type: "child_process"
	id: 34
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fork"
	full_name: "child_process.fork"
	base_type: "child_process"
	id: 35
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "spawn"
	full_name: "child_process.spawn"
	base_type: "child_process"
	id: 36
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execFileSync"
	full_name: "child_process.execFileSync"
	base_type: "child_process"
	id: 37
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execSync"
	full_name: "child_process.execSync"
	base_type: "child_process"
	id: 38
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "spawnSync"
	full_name: "child_process.spawnSync"
	base_type: "child_process"
	id: 39
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "worker.send"
	base_type: "worker"
	id: 40
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "subprocess.send"
	base_type: "subprocess"
	id: 41
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "socket.send"
	base_type: "socket"
	id: 42
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "request.write"
	base_type: "request"
	id: 43
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "response.write"
	base_type: "response"
	id: 44
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "Reflect"
	full_name: "Reflect"
	id: 45
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "Proxy"
	full_name: "Proxy"
	id: 46
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pushStream"
	full_name: "http2stream.pushStream"
	base_type: "http2stream"
	id: 47
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "response.write"
	base_type: "response"
	id: 48
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "dlopen"
	full_name: "process.dlopen"
	base_type: "process"
	id: 49
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "open"
	full_name: "inspector.open"
	base_type: "inspector"
	id: 50
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "post"
	full_name: "session.post"
	base_type: "session"
	id: 51
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "socket.write"
	base_type: "socket"
	id: 52
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "get"
	full_name: "http.get"
	base_type: "http"
	id: 53
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
    type: FUNCTION_DECL_REF_EXPR
    name: "connect"
    full_name: "socket.connect"
    base_type: "socket"
    id: 54
    functionality: SOURCE
    source_type: SOURCE_NETWORK
}
apis {
    type: FUNCTION_DECL_REF_EXPR
    name: "decode"
    full_name: "Base64.decode"
    base_type: "Base64"
    id: 55
    functionality: SOURCE
    source_type: SOURCE_OBFUSCATION
}
apis {
    type: FUNCTION_DECL_REF_EXPR
    name: "from"
    full_name: "Buffer.from"
    base_type: "Buffer"
    id: 56
    functionality: SOURCE
    source_type: SOURCE_OBFUSCATION
}
apis {
    type: FUNCTION_DECL_REF_EXPR
    name: "Buffer"
    full_name: "Buffer"
    id: 57
    functionality: SOURCE
    source_type: SOURCE_OBFUSCATION
}
smt_formula: "((1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 53 | 54) & (31 | 32 | 40 | 41 | 42 | 43 | 44 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57)) | (18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 45 | 46)"
