include packj/.packj.yaml
include packj/audit/config/astgen_javascript_smt.config
include packj/audit/config/astgen_python_smt.config
include packj/audit/config/astgen_ruby_smt.config
include packj/audit/config/javascript_api/apis2perms.csv
include packj/audit/config/python_api/apis2perms.csv
include packj/audit/config/rubygems_api/apis2perms.csv
include packj/audit/pm_proxy/parse_gemfile.rb
include packj/audit/proto/ruby/ast_pb.rb
include packj/audit/proto/ruby/behavior_pb.rb
include packj/audit/proto/ruby/class_sig_pb.rb
include packj/audit/proto/ruby/info_pb.rb
include packj/audit/proto/ruby/module_pb.rb
include packj/audit/static_proxy/astgen.rb
include packj/audit/strace_parser/rules.yaml
include packj/sandbox/Makefile
include packj/sandbox/install.sh
include packj/sandbox/sandbox.o
include requirements.txt
