asttokens==1.1.11
dnspython
esprima==4.0.1
func_timeout==4.3.3
networkx==2.2
pip>=20.0.6
protobuf==3.17.3
pyIsEmail==1.4.0
python_dateutil==2.8.2
python_magic==0.4.25
pytz==2019.3
rarfile==3.0
requests==2.22.0
setuptools
six==1.14.0
tldextract
wheel==0.34.2
