asttokens==1.1.11
dnspython==2.2.1
esprima==4.0.1
func_timeout==4.3.3
networkx==2.2
pip==20.0.2
protobuf==3.20.1
pyIsEmail==1.4.0
python_dateutil==2.8.2
python_magic==0.4.25
pytz==2019.3
rarfile==3.0
requests==2.22.0
setuptools==45.2.0
six==1.14.0
tldextract==3.3.0
wheel==0.34.2
